# General
RESTART_POLICY=unless-stopped

# Workadventure

# The base domain
DOMAIN=

DEBUG_MODE=false
JITSI_URL=

# If your Jitsi environment has authentication set up, you MUST set JITSI_PRIVATE_MODE to "true" and you MUST pass a SECRET_JITSI_KEY to generate the JWT secret

JITSI_PRIVATE_MODE=
JITSI_ISS=
SECRET_JITSI_KEY=

# URL of the TURN server (needed to "punch a hole" through some networks for P2P connections)
#TURN_SERVER=
#TURN_USER=
#TURN_PASSWORD=

# The URL used by default, in the form: "/_/global/map/url.json"
START_ROOM_URL=

# Max username length
MAX_USERNAME_LENGTH=

# Admin API
ADMIN_API_URL=
ADMIN_API_TOKEN=
ADMIN_API_SALT=
ADMIN_SOCKETS_TOKEN=

ADMIN_DB_MYSQL_ROOT_PASSWORD=
ADMIN_MYSQL_DATABASE=workadventure
ADMIN_MYSQL_USER=workadventure
ADMIN_MYSQL_PASSWORD=
