# Restart policy of containers
RESTART_POLICY=unless-stopped

# Database
ADMIN_DB_MYSQL_ROOT_PASSWORD=
ADMIN_MYSQL_DATABASE=workadventure
ADMIN_MYSQL_USER=
ADMIN_MYSQL_PASSWORD=

# Access token to be exchanged with WA
ADMIN_API_TOKEN=
ADMIN_API_SALT=password_salt

# Start room
START_ROOM_URL=

# Domain
DOMAIN=example.com

# TLS Settings
TLS_CERT_PATH=/path/to/cert
TLS_PRIVKEY_PATH=/path/to/key
