.container {
    padding: 1rem;
    margin: 1rem;
}

.nav {
    border-width: 1px;
    border-radius: .5rem;
}

.navbar-button {
    margin-left: .5rem;
    margin-right: .5rem;
}

.tag {
    margin: .25rem;
}

.element {
    margin: 1rem;
}

.sameline-form {
    display: inline-block;
}

.card-style {
    height: 13rem;
    margin-top: 1rem;
}

.btn svg {
    position: relative;
    top: -0.125em;
}
